body{
    background-color: rgb(226, 1, 1);
}
img{
    width: 450px;
    margin-left: 630px;
    z-index: 2;
}
style{
    margin-right: 290px;
    z-index: 2;
}
h1{
    font-size: 165px;
    font-family: start;
    color: rgb(253, 253, 253);
    z-index: 1;
    transform: rotate(-90deg);
    position: fixed;
    margin-left: 1358px;
    margin-top: 385px;
    
}
