.parent {
    position: sticky;
    z-index: 1;
    margin-left: 350px;
    margin-right: auto;
  }
  .image1 {
    position: absolute;
    z-index: 3;
    top: 150px;
    left: 730px;
  }
a{
    color: rgb(255, 0, 0);
}
a:hover{
    color: rgb(114, 2, 2);
}
h1{
    font-size: 50px;
    position: absolute;
    z-index: 2;
    margin-left: 670px;
    margin-top: 590px;
    color: rgb(255, 0, 0);
    font-family: minecraft;
}
h2{
    font-size: 50px;
    position: absolute;
    z-index: 3;
    margin-left: 740px;
    margin-top: 775px;
    color: rgb(255, 0, 0);
    font-family: minecraft;
}
h3{
    font-size: 50px;
    position: absolute;
    z-index: 4;
    margin-left: 740px;
    margin-top: 683px;
    color: rgb(255, 0, 0);
    font-family: minecraft;
}
@font-face {
    font-family: minecraft;
    src: url('minecraft.ttf');
}
