.parent {
    position: sticky;
    z-index: 1;
    margin-left: 350px;
    margin-right: auto;
  }
  .image1 {
    position: absolute;
    z-index: 3;
    top: 150px;
    left: 730px;
  }
a{
    color: rgb(255, 0, 0);
}
a:hover{
    color: rgb(114, 2, 2);
}
h1{
    font-size: 40px;
    position: absolute;
    z-index: 2;
    margin-left: 645px;
    margin-top: 570px;
    color: rgb(255, 0, 0);
    font-family: 'start';
}
h2{
    font-size: 40px;
    position: absolute;
    z-index: 3;
    margin-left: 730px;
    margin-top: 810px;
    color: rgb(255, 0, 0);
    font-family: 'start';
}
h3{
    font-size: 40px;
    position: absolute;
    z-index: 4;
    margin-left: 730px;
    margin-top: 730px;
    color: rgb(255, 0, 0);
    font-family: "start";
}
h4{
    font-size: 38px;
    position: absolute;
    z-index: 4;
    margin-left: 640px;
    margin-top: 650px;
    color: rgb(255, 0, 0);
    font-family: "start";
}